<!--[if lt IE 9 ]>
<div class="ink-alert basic" role="alert">
    <button class="ink-dismiss">&times;</button>
    <p>
        <strong>You are using an outdated Internet Explorer version.</strong>
        Please <a href="http://browsehappy.com/">upgrade to a modern browser</a> to improve your web experience.
    </p>
</div>
<![endif]-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <span class="navbar-brand" href="#">VulnFeed</span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rule_builder">Rule Builder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report_viewer">Report Viewer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        
    </div>
</nav>