<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>VulnFeed</title>
        
        {% include 'head.html' %}

        <style>
            #header {
                padding: 40px;
                font-size: 3em;
            }
            #info {
                text-align: center;
            }
        </style>

    </head>
    <body>

        <div class="container">
             <div class="jumbotron" id="info">
                <h1 class="display-3">VulnFeed</h1>
                <p class="lead">
                    <ul>
                        <li>Have you subscribed to vulnerability feeds, but get overwhelmed with reports?</li>
                        <li>Is your inbox filling with vulnerability emails?</li>
                        <li>Are you struggling to look for vulnerabilities you care about?</li>
                    </ul>
                </p>
                <h3>VulnFeed is the service that aggregates vulnerability feeds into a personalized single email just for you!</h3>
                <p><a class="btn btn-lg btn-primary" href="/login" role="button">Login</a></p>
                <p><a class="btn btn-lg btn-success" href="/signup" role="button">Sign Up</a></p>
            </div>
        </div>

        {% include 'footer.html' %}

    </body>
</html>
