<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>VulnFeed Terms of Service</title>
        
        {% include 'head.html' %}

        <style>
            @import url(https://fonts.googleapis.com/css?family=Raleway);

            #header {
                padding: 40px;
                font-size: 3em;
            }
            #info {
                text-align: center;
            }
            #info p {
                padding: 10px;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.5em;
            }

        </style>

    </head>
    <body>

        <div class="container">
            <h1>Privacy</h1>
            <p>
                The only personal data VulnFeed stores is your email address. Any data you place into rule generation is also stored by VulnFeed. Details and data relating to you account can be viewed on your "My Profile" page.
            </p>
        </div>

        {% include 'footer.html' %}

    </body>
</html>
