<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>My Profile - VulnFeed</title>
        {% include 'head.html' %}

        <style>
            #main {
                margin-top: 90px;
            }
            textarea {
                width: 100%;
            }
        </style>

    </head>
    <body>

        {% include 'header.html' %}

        <div class="container" id="main">
            <p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Email:</strong> {{ email }}</li>
                    <li class="list-group-item"><strong>Active Rule Count:</strong> {{ rule_count }}</li>
                    <li class="list-group-item"><strong>Last Sent:</strong> {{ last_sent }}</li>
                    <li class="list-group-item"><strong>Last Send Status:</strong> {{ last_status }}</li>
                </ul>
            </p>
            <p>
                <a class="btn btn-dark" href="/last_report">
                    View Last Report Details
                </a>
            </p>
            <p>
                <a class="btn btn-success" data-toggle="collapse" href="#my-rules" role="button" aria-expanded="false" aria-controls="my-rules">
                    My Contributed Rules
                </a>
                <div class="collapse" id="my-rules">
                    <div class="card card-body">
                        <ul class="list-group">
                        {% if my_rules|length > 0 %}
                        {% for rule in my_rules %}
                            <li class="list-group-item">
                                <h3>{{ rule.name }}</h3>
                                <pre>{{ rule.rule }}</pre> <a href="/rule_builder?edit={{ rule.id }}">Edit</a>
                            </li>
                        {% endfor %}

                        {% else %}
                            <li class="list-group-item">
                                You haven't created any rules. You can create rules for everyone to use <a href="/rule_builder">here.</a>
                            </li>
                        {% endif %}
                        </ul>          
                    </div>
                </div>
            </p>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#rule-help" role="button" aria-expanded="false" aria-controls="rule-help">
                    View My Raw Account Data
                </a>
                <div class="collapse" id="rule-help">
                    <div class="card card-body">
                        <pre>{{raw_profile}}</pre>
                    </div>
                </div>
            </p>
            
            
            <p>
                <a href="/delete" class="btn btn-danger">Delete My Account</a>
            </p>
        </div>

        {% include 'footer.html' %}
    </body>
</html>
