<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Rule Builder - VulnFeed</title>
        {% include 'head.html' %}

        <style>
            #main {
                margin-top: 90px;
            }
            textarea {
                width: 100%;
            }
        </style>

    </head>
    <body>

        {% include 'header.html' %}

        <div class="container" id="main">
            <div>
                <p>VulnFeed rules use a very simple language used to indicate what should be matched. It consists of words combined with operators.</p>


                <p><strong>Words</strong> are simple strings, and must be all lowercase (the normalizer puts all text in lowercase). These strings should correspond to an actual complete word (a string separated by spaces, -, or _) that you want to match in the report. If a report contains the complete word, the report receives a score. For example, if the word `vulnfeed` is in a rule, it will match a report with <i>bug report for vulnfeed</i>, but not <i>bug report for vulnfeedinator</i>.</p>
                        
                <p>
                    Words can be combined with operators for different effects. There are three binary operators (requires two words):
                    <ul>
                        <li><strong>AND</strong> - Both words in this operation must be in the report.</li>
                        <li><strong>OR</strong> - The report must have at least one word in the report.</li>
                        <li><strong>ANDOR</strong> - The report must have at least one word in the report, but if both are present in the order given in the rule, the score is doubled.</li>
                    </ul>
                </p>        
            </div>
            <form method="POST" action="/rule_builder">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger" style="{{ 'display:none' if not error }}" role="alert">
                            {{ error }}
                        </div>
                        <div class="form-group">
                            <label for="rule_name">Rule Name</label>
                            <input class="form-control" id="rule_name" name="rule_name" type="text" value="{{ rule_name }}" placeholder="Type rule name here">
                        </div>
                        <div class="form-group">
                            <label for="rule_string">Rule String</label>
                            <input class="form-control" id="rule_string" name="rule_string" type="text" value="{{ rule_string }}" placeholder="Type rule text here">
                        </div>
                        <div class="form-group">
                            <label for="rule_description">Rule Description</label>
                            <input class="form-control" id="rule_description" name="rule_description" type="text" value="{{ rule_description }}" placeholder="Type rule description">
                        </div>

                        <button type="submit" class="btn btn-primary" name="test">Test</button>
                        <button type="submit" class="btn btn-success" name="save">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Test this content</h4>
                        <textarea name="input_text">{{ input_text }}</textarea>
                    </div>
                    <div class="col">
                        <h4>Test results</h4>
                        <textarea disabled>{{ output }}</textarea>
                    </div>
                </div>
            </form>
        </div>

        {% include 'footer.html' %}

    </body>
</html>
