<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Rule Builder - VulnFeed</title>
        {% include 'head.html' %}

        <style>
            #main {
                margin-top: 90px;
            }
            textarea {
                width: 100%;
            }
        </style>

    </head>
    <body>

        {% include 'header.html' %}

        <div class="container" id="main">
            <form method="POST" action="/rule_builder">
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger" style="{{ 'display:none' if not error }}" role="alert">
                            {{ error }}
                        </div>
                        <div class="form-group">
                            <label for="rule_name">Rule Name</label>
                            <input class="form-control" id="rule_name" name="rule_name" type="text" value="{{ rule_name }}" placeholder="Type rule name here">
                        </div>
                        <div class="form-group">
                            <label for="rule_string">Rule String</label>
                            <input class="form-control" id="rule_string" name="rule_string" type="text" value="{{ rule_string }}" placeholder="Type rule text here">
                        </div>
                        <div class="form-group">
                            <label for="rule_description">Rule Description</label>
                            <input class="form-control" id="rule_description" name="rule_description" type="text" value="{{ rule_description }}" placeholder="Type rule description">
                        </div>

                        <button type="submit" class="btn btn-primary" name="test">Test</button>
                        <button type="submit" class="btn btn-success" name="save">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="input_text">{{ input_text }}</textarea>
                    </div>
                    <div class="col">
                        <textarea disabled>{{ output }}</textarea>
                    </div>
                </div>
            </form>
        </div>

        {% include 'footer.html' %}

    </body>
</html>
